<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsociaPlan"
        tools:targetApi="31">
        <activity
            android:name=".menu_admin"
            android:exported="false" />
        <activity
            android:name=".add_to_event_activity"
            android:exported="false" />
        <activity
            android:name=".search_collaborator"
            android:exported="false" />
        <activity
            android:name=".view.EventCalendarActivity"
            android:exported="false" />
        <activity
            android:name=".view.edit_event_activity"
            android:exported="false" />
        <activity
            android:name=".view.activity_details"
            android:exported="false" />
        <activity
            android:name=".view.list_activities_by_event"
            android:exported="false" />
        <activity
            android:name=".view.edit_event"
            android:exported="false" />
        <activity
            android:name=".view.event_details"
            android:exported="false" />
        <activity
            android:name=".view.events"
            android:exported="false" />
        <activity
            android:name=".view.register_event"
            android:exported="false" />
        <activity
            android:name=".view.menu"
            android:exported="false" />
        <activity
            android:name=".view.edit_collaborator"
            android:exported="false" />
        <activity
            android:name=".view.collaborator_details"
            android:exported="false" />
        <activity
            android:name=".view.collaborator_list"
            android:exported="false" />
        <activity
            android:name=".view.register_collaborator"
            android:exported="false" />
        <activity
            android:name=".estudiante"
            android:exported="false" />
        <activity
            android:name=".view.agregar_miembros"
            android:exported="false" />
        <activity
            android:name=".view.editar_asociacion"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.asociaciones"
            android:exported="false" />
        <activity
            android:name=".view.RegisterAsociationActivity"
            android:exported="false" />
        <!--
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".auth.AuthenticatorService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>